.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.fieldset {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.formButtonsContainer{
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin: 35px 0 50px;
}