.button {
  width: 291px;
  height: 60px;
  background-color: #ffb900;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Futura PT", serif;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: #ffc700;
}
