.button {
  width: 291px;
  height: 60px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Futura PT";
  line-height: 26px;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  background: none;
  cursor: pointer;
}

.button:hover {
  color: #2a2a2a;
}
