.logo__container {
  background-color: #fff;
  width: 158px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.logo__header {
  width: 128px;
  height: 31px;
}
