.container {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.fieldset {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.btn {
  margin: 5px;
  height: 60px;
  width: 150px;
  background-color: #3a3ada;
  color: white;
}
