.container {
  width: 100%;
}
.filterContainer{
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}
.period{
  font-size: 24px;
}
.checkboxLabel{
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 22px;
}
.checkbox{
  width: 24px;
  height: 24px;
}