.button {
  width: 290px;
  height: 45px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Futura PT";
  letter-spacing: -0.01em;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  background: #003c96;
  color: #fff;
  order: 1;
  cursor: pointer;
}

.button:hover {
  background: #004e96;
}
